*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-between;
}

#navbar::before{
    content: "";
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#logo{
    margin: 0px 10px;
    cursor: pointer;
}

#logo img{
    height: 55px;
}

#navbar ul{
    display: flex;
    font-family: 'Fuzzy Bubbles', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
}

#navbar ul li a{
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover{
    color: black;
    background-color: #84cae8;
    border-radius: 20px;
    font-weight: bold;
}

#navbar .login .btn2{
    padding: 5px 10px;
    margin: 0px 15px;
    border: 2px solid white;
    border-radius: 5px;
    color: #ff7300;
    background-color: black;
    cursor: pointer;
    font-size: 1rem;
}

#navbar .login .btn2:hover{
    font-weight: bold;
    background-color: #84cae8;
}


#home{
    display: flex;
    flex-direction: column;
    height: 470px;
    padding: 5px 200px;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: "";
    background: url('../img/bg.jpg')
    no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 538px;
    width: 100%;
    z-index: -2;
    opacity: 0.75;
}

#home h1{
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

#home p{
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 0px;
    font-size: 1.5rem;
}

.btn{
    margin-top: 30px;
    padding: 10px 20px;
    border: 3px solid white;
    color: rgb(53, 97, 27);
    background-color: #84cae8;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    font-weight: bold;
    border-color: rgb(53, 97, 27);
}

#service{
    display: flex;
    margin: 0px 20px;
}
#service .box{
    border: 2px solid royalblue;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    background-color: rgb(204, 255, 184);
    box-shadow: 5px 5px 4px gray;
}

#service .box img{
    height: 100px;
    display: block;
    margin: auto;
}

#service .box p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}

.clients{
    display: flex;
    flex-direction: column;
    height: 230px;
    margin-top: 20px;
}

.clients::before{
    content: "";
    background: url('../img/bg.jpg');
    position: absolute;
    height: 205px;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

#client{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
}

.client-item{
    padding: 30px;
}

#client img{
    height: 70px;
}

.contact{
    margin-top: 20px;
    height: 495px;
}

.contact::before{
    content: "";
    background: url('../img/contact.jpg') no-repeat center center/cover;
    position: absolute;
    height: 495px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contact-box form{
    width: 35%;
}

#contact-box label{
    font-size: 1.25rem;
    font-family: 'Noto Serif', serif;
}

#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5px;
}

.contact .btn1{
    padding: 8px 25px;
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: auto;
}

footer{
    background: black;
    color: white;
}

/* Utility CSS */
.h-primary{
    font-size: 3rem;
    padding-top: 15px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.h-secondary{
    font-size: 1.5rem;
    padding: 10px;
    font-family: 'Noto Serif', serif;
}

.center{
    text-align: center;
}
